<div class="columns">
    {{> 00-atoms/card/card }}
    {{> 00-atoms/card/card }}
    <div class="column">
       {{>00-atoms/service-item/service-item}}
       {{>00-atoms/service-item/service-item}}
       {{>00-atoms/service-item/service-item}}
       {{>00-atoms/service-item/service-item}}
       {{>00-atoms/service-item/service-item}}
    </div>
</div>