<aside>
    <div id="Calendar-aside">
        <p>
            Date
        </p>
        <div id="Calendar-aside">
            {{> atoms-input-calendar }}

        </div>
    </div>

    <div id="price">
        <p>
            Price
        </p>
        <div id="Price-Range-Slider">
            {{> atoms-range_slider }}
        </div>
    </div>

    <div id="Option">
        <p>
            Options
        </p>
        <div id="Option-icons">
           <button >{{> atoms-swimming-pool }}</button>
            <button >{{> atoms-food }}</button>
            <button >{{> atoms-wifi }}</button>
            <button >{{> atoms-sauna }}</button>
            <button >{{> atoms-sunbed }}</button>
        </div>
    </div>

    <div id="Categorie">
        <p>
            Catégories
        </p>
        <div id="Categorie-icons">
            <button >{{> atoms-star }}</button>
            <button >{{> atoms-star }}</button>
            <button >{{> atoms-star }}</button>
            <button >{{> atoms-star }}</button>
            <button >{{> atoms-star }}</button>
        </div>
    </div>

    <div id="Avi">
        <p>
            Avis
        </p>
        <div id="Categorie-Range-Slider">
            {{> atoms-radio-button }}
            {{> atoms-radio-button }}
            {{> atoms-radio-button }}
            {{> atoms-radio-button }}
            {{> atoms-radio-button }}
        </div>
    </div>

    <div id="Recherche-hotel">
        <p>
            Avis
        </p>

    </div>
</aside>