<div class="container is-fluid">
    {{>01-molecules/navbar}}
</div>
<div class="container">
    {{>02-organisms/annonce-hero}}
</div>
<div class="container is-fluid">
    {{>02-organisms/annonce-content}}
</div>