<div class="input-search">
    <div class="field has-addons">
        <div class="control">
            <input class="input is-medium" type="text" placeholder="Ex : Bordeaux, Pau, Bayonne …">
        </div>
        <div class="control">
            <a class="button is-primary is-medium">
                <i class="fas fa-search"></i>
            </a>
        </div>
    </div>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>