<div class="filter-wrapper">
    <div class="filter-price">
        <h3 class="filter-section-header">Prix</h3>
        {{> 00-atoms/sliders/slider_double.mustache }}
    </div>
    <div class="filter-options">
        <h3 class="filter-section-header">Option</h3>
        <div class="filter-options-button-group">
            <button >{{> atoms-swimming-pool }}</button>
            <button >{{> atoms-food }}</button>
            <button >{{> atoms-wifi }}</button>
            <button >{{> atoms-sauna }}</button>
            <button >{{> atoms-sunbed }}</button>
        </div>

    </div>
    <div class="filter-category">
        <h3 class="filter-section-header">Catégorie</h3>
        <div class="filter-category-button-group">
            <button >{{> atoms-star }}</button>
            <button >{{> atoms-star }}</button>
            <button >{{> atoms-star }}</button>
            <button >{{> atoms-star }}</button>
            <button >{{> atoms-star }}</button>
        </div>
    </div>
    <div class="filter-avis">
        <h3 class="filter-section-header">Avis</h3>
        {{> 00-atoms/sliders/slider_double_avis.mustache }}
    </div>
</div>