<div class="annonce-item-wrapper columns is-centered is-gapless">
    <div class="column is-4">
        <img class="image" src="./../../images/12288582.jpg"/>
    </div>
    <div class="column annonce-item-content">
        <article>
            <h3>Hotel des fleuves</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur.</p>
        </article>
        <button> {{> 00-atoms/SVG/right-chevron}}</button>
    </div>
</div>