<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <!--{{>00-atoms/header-brand-logo.mustache }}-->
        <a class="navbar-item">
            <h1>Aquito</h1>
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-item center">
            <a class="navbar-item is-size-5" href="">
                Accueil
            </a>
            <a class="navbar-item is-size-5" href="">
                Annonce
            </a>
            <a class="navbar-item is-size-5" href="">
                Service
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item usermenu">
                <div>
                   <img src="https://randomuser.me/api/portraits/med/women/2.jpg"/>
                </div>
                <div>
                    <span>Username</span>
                    <div class="usermenu-button-group">
                        <a class="button is-primary">Mon profile</a>
                        <a class="button is-primary">{{>00-atoms/SVG/logout}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {

                    // Get the target from the "data-target" attribute
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);

                    // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>