{{>00-atoms/input-search}}
<div class="field is-horizontal annonce-hero-dateinput">
    <div class="field-label is-normal">
        <label class="label">Arrivée</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="date" placeholder="Password">
                <span class="icon is-small is-left"></span>
            </p>
        </div>
    </div>
    <div class="field-label is-normal">
        <label class="label">Départ</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="date" placeholder="Password">
                <span class="icon is-small is-left"></span>
            </p>
        </div>
    </div>
</div>