<div class="columns">
    <div class="column is-3">
        {{>01-molecules/annonce-filter.mustache}}
    </div>
    <div class="column">
        {{>01-molecules/annonce-item.mustache}}
        {{>01-molecules/annonce-item.mustache}}
        {{>01-molecules/annonce-item.mustache}}
    </div>
</div>