<div class="columns">
    {{> 00-atoms/card/card }}
    {{> 00-atoms/card/card }}
    <div class="column">
       {{>01-molecules/service-item}}
       {{>01-molecules/service-item}}
       {{>01-molecules/service-item}}
       {{>01-molecules/service-item}}
       {{>01-molecules/service-item}}
    </div>
</div>