<!--DO NOT REMOVE-->
{{{ patternLabFoot }}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="../../js/pl-vendor-libraries.js?{{cacheBuster}}"></script>
<script src="../../js/pl-source.js?{{cacheBuster}}"></script>
</body>
</html>